{% extends "Admin/layout.twig" %}

{% block content %}

<section class="content-header">
    <h1>
薬局店舗情報
        <small>一覧</small>
    </h1>
</section>


<section class="content">

<div class="well searchBox">

		<form action="{{ c.app.urlFor('default',{'controller': 'pharmacy'})}}" class="form-inline" novalidate="novalidate" id="AdminNewsIndexForm" method="GET" accept-charset="utf-8">	
		<div class="box-body">
            <div class="form-group required"><label for="AdminNewsCategoryId">都道府県</label>
            <select name="pref" class="form-control" id="AdminNewsCategoryId">
                <option value=""></option>
                <option value="北海道">北海道</option>
                <option value="青森県">青森県</option>
                <option value="岩手県">岩手県</option>
                <option value="宮城県">宮城県</option>
                <option value="秋田県">秋田県</option>
                <option value="山形県">山形県</option>
                <option value="福島県">福島県</option>
                <option value="東京都">東京都</option>
                <option value="神奈川県">神奈川県</option>
                <option value="埼玉県">埼玉県</option>
                <option value="千葉県">千葉県</option>
                <option value="茨城県">茨城県</option>
                <option value="栃木県">栃木県</option>
                <option value="群馬県">群馬県</option>
                <option value="山梨県">山梨県</option>
                <option value="新潟県">新潟県</option>
                <option value="長野県">長野県</option>
                <option value="富山県">富山県</option>
                <option value="石川県">石川県</option>
                <option value="福井県">福井県</option>
                <option value="愛知県">愛知県</option>
                <option value="岐阜県">岐阜県</option>
                <option value="静岡県">静岡県</option>
                <option value="三重県">三重県</option>
                <option value="大阪府">大阪府</option>
                <option value="兵庫県">兵庫県</option>
                <option value="京都府">京都府</option>
                <option value="滋賀県">滋賀県</option>
                <option value="奈良県">奈良県</option>
                <option value="和歌山県">和歌山県</option>
                <option value="鳥取県">鳥取県</option>
                <option value="島根県">島根県</option>
                <option value="岡山県">岡山県</option>
                <option value="広島県">広島県</option>
                <option value="山口県">山口県</option>
                <option value="徳島県">徳島県</option>
                <option value="香川県">香川県</option>
                <option value="愛媛県">愛媛県</option>
                <option value="高知県">高知県</option>
                <option value="福岡県">福岡県</option>
                <option value="佐賀県">佐賀県</option>
                <option value="長崎県">長崎県</option>
                <option value="熊本県">熊本県</option>
                <option value="大分県">大分県</option>
                <option value="宮崎県">宮崎県</option>
                <option value="鹿児島県">鹿児島県</option>
                <option value="沖縄県">沖縄県</option>
            </select>
            </div>			

            <div class="form-group required">
            <label for="AdminNewsTitle">ID</label><input name="code" class="form-control" type="text" id="AdminNewsTitle" required="required"/>
            </div>

            <div class="form-group required">
            <label for="AdminNewsTitle">キーワード</label><input name="q" class="form-control" type="text" id="AdminNewsTitle" required="required"/>
            </div>

            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> この条件で絞り込む</button>
            <a href="{{ c.app.urlFor('default',{'controller': 'pharmacy'})}}" class="pull-right"><i class="fa fa-refresh"></i> 検索条件をリセットして全て表示する</a>
            </div>
        </form>

</div>

{% if list|length %}

    <div class="col-sm-5" style='margin:10px'>
        {{ pager.total_count  }} 件中 {{ pager.start_cnt }} - {{ pager.end_cnt }} 件目を表示    </div>
        <div class="box-body">
<form id='frm' method="post" action="{{ c.app.urlFor('default',{'controller': 'pharmacy','action': 'del'})}}">
<input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">
<input type="hidden" name="_METHOD" value="DELETE"/>
<input type="hidden" name="id" value="">
            <table class="table table-striped">
                <tr>
                    <th style="width: 150px"><a href='{{ c.pager_sort('code',c.app.urlFor('default',{'controller': 'pharmacy'}))  }}'>ID<i class='fa fa-sort'></i></a></th>
                    <th style="width: 100px"><ins><a href='{{ c.pager_sort('pref',c.app.urlFor('default',{'controller': 'pharmacy'}))  }}'>都道府県<i class='fa fa-sort'></i></a></ins></th>
                    <th style="width: 15%">市区町村</th>
                    <th>薬局名</th>
                    <th style="width: 80px">公開</th>
                    <th style="width: 40px">編集</th>
                    <th style="width: 40px">削除</th>
                    <th style="width: 10%"><ins><a href='{{ c.pager_sort('modified',c.app.urlFor('default',{'controller': 'pharmacy'}))  }}'>最終更新日<i class='fa fa-sort'></i></a></ins></th>
                </tr>

                {% for data in list %}
                    <tr>
                        <td>{{data.code}}</td>
                        <td>{{data.pref}}</td>
                        <td>{{data.addr1}}</td>
                        <td>{{data.name}}</td>
                        <td>{% if data.join_flg and data.show_flg %}
                                <a href="{{ c.app.urlFor('shop_detail',{'code':data.code})}}" target="_blank"><i class="fa fa-fw fa-external-link"></i></a>
                            {% else %}
                                <i class="glyphicon glyphicon-remove"></i>
                            {% endif %}
                        </td>
                        <td><a href="{{ c.app.urlFor('default',{'controller': 'pharmacy','action': 'edit','id':data.id})}}" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> 編集</a></td>
                        <td><a href='javascript:void(0);' my_label='{{data.title}}' onclick='$("[name=id]").val("{{data.id}}");' class="delete btn btn-xs btn-danger"><i class="fa fa-trash"></i> 削除</a></td>
                        <td>{{data.modified}}</td>
                    </tr>
                {% endfor %}
            </table>
</form>
        </div>
        <div class="clearfix">

{% if pager.total_pages > 1 %}
<ul class="pagination pull-right">
{% if pager.prev %}
  <li><a href="{{ c.app.urlFor('default',{'controller': 'pharmacy'})}}?page={{pager.prev}}&{{query_string}}">«</a></li>
{% endif %}
{% for page in pager.start_page .. pager.end_page %}
{% if page == pager.curpage %}
  <li class="active"><a href="#">{{ page }}</a></li>
{% else %}
    <li><a href="{{ c.app.urlFor('default',{'controller': 'pharmacy'})}}?page={{page}}&{{query_string}}">{{page}}</a></li>
{% endif %}
{% endfor %}
{% if pager.next %}
 <li><a href="{{ c.app.urlFor('default',{'controller': 'pharmacy'})}}?page={{pager.next}}&{{query_string}}">»</a></li>
{% endif %}
</ul>
{% endif %}
	<div class="col-sm-5">
		{{ pager.total_count  }} 件中 {{ pager.start_cnt }} - {{ pager.end_cnt }} 件目を表示	</div>
</div>
<div class="well searchBox" style='margin-top:10px'>
<a class="btn btn-primary" href="{{ c.app.urlFor('default',{'controller': 'pharmacy','action':'download'})}}?{{query_string}}" ><i class="fa fa-download"></i> <b>検索した結果を全件ダウンロードする</b></a>
</div>
{% else %}
<div class="well searchBox">
該当する情報はありません。
</div>

{% endif %}
</section>

{% endblock %}

