{% set category = config['question_categories'][question['category_id']] %}
<?php
  //共通
  require_once substr($_SERVER['SCRIPT_FILENAME'], 0, -strlen($_SERVER['SCRIPT_NAME'])).'/common/includes/init.php';

  //メタディスクリプション
  $description = '';

  //メタキーワード
  $keywords = '';

  //Facebook　全ページ共通の場合は空白にしてください
  $fbimage = '';

  //タイトル
  $title = '';

  //css追加
  $ex_tag_css = '<link rel="stylesheet" href="/member.shop/css/style.css"><link rel="stylesheet" href="/member.shop/css/template.css">';

  //js追加
  $ex_tag_js = '<script src="/member/js/script.js"></script>';

  //bodyID
  $bodyID = 'mypage';

?>

  <?php include 'header.php'; ?>

	<div class="contents-header">
		<ul class="topicpath fbox">
			<li><a href="{{ c.app.urlFor('pharmacy_mypage') }}">マイページトップ</a></li>
			<li>相談回答フォーム</li>
		</ul>
		<h1 class="header-ttl">相談回答フォーム</h1>
	</div>
    <!-- /.contents-header -->

  <div class="inner">
    
   <div class="m-panel01 m-panel01--blue">
    <div class="l-sp-inner">
     <div class="m-panel01__panel">
       <p class="m-panel01__heading">入力内容をご確認ください</p>
       <p class="m-panel01__txt">この内容でよろしければ、『この内容で回答する』ボタンを押してください。</a></p>
     </div>
     <!-- /.m-panel01__panel -->
     </div>
     <!-- /.l-sp-inner -->
   </div>
   <!-- /.m-panel01 -->

    <div class="component-area">
      <div class="l-sp-inner">
        <div class="m-question01 m-question01--resolved">
          <div class="m-question01__balloon">
            <div class="m-bal02">
              <div class="m-bal02__inforow">
                <p class="m-bal02__profile">
                {% if question.member_sex == '男性' %}
                <img src="/consultation/img/question01_icn_male.png" alt="">
                {% else %}
                <img src="/consultation/img/question01_icn_female.png" alt="">
                {% endif %}
                </p>
                <div class="m-bal02__userdata">
                  <p class="m-bal02__name">{{ question.member_nickname }}さん</p>
                  <div class="m-bal02__midrow clearfix">
                    <ul class="m-bal02__infolist clearfix">
                      <li>（{{ question.member_age | era }}・{{ question.member_sex }}・{{ question.member_pref }}）からの相談</li>
                      <li>部位・症状: <a href="{{ c.app.urlFor('qa_list', {'search_type': 'category', 'q' : category | url_encode })  }}">{{ category }}</a></li>
                    </ul>
                    <!-- /.m-bal02__infolist -->
                    <p class="m-bal02__date">{{ question.creaed| date('Y/m/d H:i') }}</p>
                  </div>
                  <!-- /.m-bal02__midrow -->
                </div>
                <!-- /.m-bal02__userdata -->
              </div>
              <!-- /.m-bal02__inforow -->
              <p class="m-bal02__txt autolink">
                {{ question['content'] | nl2br }} 
              </p>
            </div>
            <!-- /.m-bal02 -->
          </div>
          <!-- /.m-question01__balloon -->
        </div>
        <!-- /.m-question01 -->
      </div>
      <!-- /.l-sp-inner -->
    </div>
    <!-- /.component-area -->

    <div class="component-area">
      <div class="m-tablearea04">
        <div class="m-tablearea04__heading">
          <div class="m-heading02">
            <p class="m-heading02__txt">{{ question.member_nickname }}さんへ回答する</p>
          </div>
          <!-- /.m-heading02 -->
        </div>
        <!-- /.m-tablearea04__heading -->
        <div class="l-sp-inner">
            <form method="post" loading>
            <input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">
            <input type="hidden" name="_REF" id="_REF" value="confirm"/>
            <input type="hidden" name="_METHOD" id="_METHOD" value="PUT"/>
            {% for key, data in c.request.post %}
            {% if key != 'csrf_token' and key != 'next' and key != 'access' %}
            <input type="hidden" name="{{ key }}">
            {% endif %}
            {% endfor %}
            <input type="hidden" name="{{csrf_key}}" value="{{csrf_token}}">
            <div class="m-tablearea04__table">
              <table class="m-table01 m-table01--type02">
                <tr>
                  <th class="m-table01_cell--top"><span class="m-table01__heading">回答内容 <span class="m-table01__required">※必須</span></span></th>
                  <td>
                    <p class="m-table01__txt"></p>
                    <div class="m-table01__inputbox autolink">
                        {{ query['content'] | nl2br }}
                    </div>
                    <!-- /.m-table01__inputbox -->
                    <p class="m-table01__txt"><span class="m-table01__note2">※回答を送信した後、内容の変更はできません。送信前に今一度内容をご確認ください。</span></p>
                  </td>
                </tr>
                <tr>
                  <th><span class="m-table01__heading">公開</span></th>
                  <td>
                    <div class="m-table01__inputbox">
                        {{ query['only_flg']  ? '非公開' : '公開' }}
                    </div>
                    <!-- /.m-table01__inputbox -->
                    <p class="m-table01__txt"><span class="m-table01__note2">※質問者のみに公開したい場合は、非公開にしてください。</span></p>

                  </td>
                </tr>

              </table>
              <!-- /.m-table01 -->

            </div>
            <!-- /.m-tablearea04__table -->
            <p class="m-tablearea01__note">この内容でよろしければ、『この内容で回答する』ボタンを押してください。</p>
            <div class="m-tablearea01__btn">
              <button class="m-arrow-btn02 m-arrow-btn02--prev m-arrow-btn02--gray" onclick="document.getElementById('_METHOD').value = '';">戻る<span class="m-arrow-btn01__icn"></span></button>
              <button class="m-arrow-btn01">この内容で回答する<span class="m-arrow-btn01__icn"></span></button>
            </div>
          </form>
        </div>
        <!-- /.l-sp-inner -->
      </div>
      <!-- /.m-tablearea04 -->
    </div>
    <!-- /.component-area -->

    {% include '/Front/Parts/pharmacy_support.twig' %}
  </div>
  <!-- /.inner -->
  
  <?php include 'footer.php'; ?>
