{% php %}
	//共通
	require_once substr($_SERVER['SCRIPT_FILENAME'], 0, -strlen($_SERVER['SCRIPT_NAME'])).'/common/includes/init.php';

	//メタディスクリプション
	$description = '';

	//メタキーワード
	$keywords = '';

	//Facebook　全ページ共通の場合は空白にしてください
	$fbimage = '';

	//タイトル
	$title = $context['data']['name'].' | 漢方薬局を探す';

	//css追加
	$ex_tag_css = '<link rel="stylesheet" href="/common/css/shop.css?u=191031"><link rel="stylesheet" href="/consultation/css/style.css">';

	//js追加
	$ex_tag_js = '<script src="/common/js/search.js"></script>
<script src="/common/js/geolocation.js"></script>
    ';

	//bodyID
	$bodyID = 'search';

    include 'header.php';
{% endphp %}

	<div class="contents-header">
		<ul class="topicpath fbox">
			<li><a href="/">トップページ</a></li>
			<li><a href="/shop/">漢方薬局を探す</a></li>
			<li>{{ data.name }}</li>
		</ul>
		<h1 class="header-ttl">漢方薬局を探す</h1>
	</div>

	<article id="main" class="inner shop-detail">


		<!--//////////////////// shop-header start-->
		<div class="shop-header">
			<div class="shop-header-ttlwrap">
				<p class="shop-area"><span>{{ data.pref }}{{ data.addr1 }}</span></p>
				<h1 class="shop-name">{{ data.name }}<span class="shop-name-ruby">（{{ data.kana }}）</span></h1>
			</div>
			<p class="shop-thumb">
            {% if data.image1 %}
            <img src="{{ data.image1}}" alt="{{ data.name }}">
            {% else %}
                画像がありません。
            {% endif %}
            </p>
			<ul class="detail-shop-icons">
                {% include '/Front/Parts/pharmacy_service.twig' with {'pharmacy': data} %}
			</ul>

            {% if data.websites|length %}
			<ul class="shop-related-links">
				<li class="btn-shopsite"><a href="{{ data.websites.0.url }}" target="_blank" class="btn02"><span class="icon-arrow01">店舗サイト</span></a></li>
			</ul>
            {% endif %}
			<ul class="shop-related-links">

                {% if data.email_counseling_flg %}
				<li class="btn-reservation"><a href="{{ data.email_counseling_url1 }}" sp='{{ data.email_counseling_url2 }}' target="_blank" class="btn01 sp_link"><span class="icon-arrow01">メール相談</span></a></li>
                {% endif %}
                {% if data.reserve_shop_flg %}
				<li class="btn-reservation"><a href="{{ data.reserve_shop_url1 }}"  sp='{{ data.reserve_shop_url2 }}' target="_blank" class="btn01 sp_link"><span class="icon-arrow01">予約</span></a></li>
                {% endif %}
			</ul>
		</div>
		<!--//////////////////// shop-header end-->

        {% if data.goodinfo %}
		<!--//////////////////// お得情報 start-->
		<section class="shop-otoku shop-block">
			<h2 class="shop-ttl otoku-ttl"><span>店舗からのお得情報</span></h2>
            <p>{{ data.goodinfo |nl2br}}</p>
		</section>
		<!--//////////////////// お得情報 end-->
        {% endif %}

{% php %}
$context['data']['topics'] = array();
$rss_file = WWW_ROOT.'/shop/'.$context['data']['code'].'/topic/feeds/rss2.0.xml';
if(!empty($context['data']['topics_flg']) && file_exists($rss_file)){
    $xml_string = file_get_contents($rss_file);
    $xml_string = str_replace( array("\n","\r","\t"), '', $xml_string );
    $rss = @simplexml_load_string($xml_string);
    if(!$rss) echo 'error parse xmlfile.';
    $list = array();
    $last_year = strtotime('-1 year');
    foreach ( $rss->channel->item as $item ) {
        if( count($list) === 3)break;
        if($last_year > strtotime($item->pubDate)){ 
            continue;
        }
    	$data = array();
    	$data['category']  = (string)$item->category;
    	$data['title']  = (string)$item->title;
    	$data['link']   = $item->link;
    	$data['date']   = date("Y-m-d H:i:s", strtotime($item->pubDate));
    	$list[] = $data;
    }
    $context['data']['topics'] = $list;
};
{% endphp %}

        {% if data.topics|length %}
        <!--//////////////////// 新着トピックス最新 start-->
		<section class="shop-topics shop-block">
		<h2 class="shop-ttl topics-ttl"><span>漢方トピックス</span></h2>
		<dl class="info-list">
        {% for topic in data.topics %}
        <dt>{{ topic.date |date("Y/m/d")}}</dt>
        <dd><a href="{{ topic.link }}" target="_blank">{{ topic.title | striptags | raw }}</a></dd>
        {% endfor %}
		</dl>
		</section>
		<!--//////////////////// 新着トピックス最新 end-->
        {% endif %}
		
		<!--//////////////////// 店舗からのコメント start-->
		<section class="shop-comment shop-block">
			<h2 class="shop-ttl comment-ttl"><span>店舗からのコメント</span></h2>
            <p>{{ data.word |nl2br}}</p>
			<ul class="shop-comment-photos">
                {% for image in data.image2 %}
                {% if image.path != '' %}
				<li class=""><span class="photos-img"><img src="{{ image.path }}" alt="{{ image.caption }}"></span>
				<span class="photos-caption">{{ image.caption }}</span></li>
                {% endif %}
                {% endfor %}
			</ul>
		</section>
		<!--//////////////////// 店舗からのコメント end-->



		<!--//////////////////// 店舗情報 start-->
		<section class="shop-info shop-block">
			<h2 class="shop-ttl info-ttl"><span>店舗情報</span></h2>
			<table class="shop-info-tbl tbl01 th-side">
				<tr>
					<th scope="row">住所</th>
					<td>〒{{ data.zip }}{{ data.pref }}{{ data.addr1 }}{{ data.addr2 }}{{ data.addr3  }}</td>
				</tr>
				<tr>
					<th scope="row">TEL</th>
					<td><span class="tel-linktext">{{ data.tel | nl2br }}</span></td>
				</tr>
                {% if data.fax %}
				<tr>
					<th scope="row">FAX</th>
					<td>{{ data.fax }}</td>
				</tr>
                {% endif %}
                {% if data.email %}
				<tr>
					<th scope="row">メールアドレス</th>
					<td><span data-email='[{{ data.email | ascii}}]'></span></td>
				</tr>
                {% endif %}
				<tr>
					<th scope="row">営業時間</th>
					<td>
						<div class="shop-hours-wrap">

                            {%
                                set weeks = {
                                    'mon': '月',
                                    'tue': '火',
                                    'wed': '水',
                                    'thu': '木',
                                    'fri': '金',
                                    'sat': '土',
                                    'sun': '日',
                                }
                            %}
                            {% for key, val in weeks %}
							<dl class="shop-hours">
								<dt>{{ val }}</dt>
								<dd>
                                {% set opentimes = data[key] %}
                                {% if opentimes |length and opentimes.0 != '' %}
                                {% for timeopen in opentimes %}
                                <span class="shop-hours-inner">{{ timeopen }}</span>
                                {% if loop.last == false %} <br class="pc-item">{% endif %}
                                {% endfor %}
                                {% else %}
                                -
                                {% endif %}
                                </dd>
							</dl>
                            {% endfor %}
						</div>
						<p class="shop-hours-info">{{ data.openhours_note | nl2br }}</p>
					</td>
				</tr>
                {% if data.counseling_time != '' %}
				<tr>
					<th scope="row">相談時間</th>
					<td>{{ data.counseling_time | nl2br}}</td>
				</tr>
                {% endif %}
                {% if data.websites|length %}
				<tr>
					<th scope="row">WEBサイト</th>
					<td>
						<ul class="shop-sitelinks">
                            {% for website in data.websites %}
							<li><a href="{{ website.url }}" target="_blank">{{ website.label }}</a></li>
                            {% endfor %}
						</ul></td>
				</tr>
                {% endif %}
				<tr>
					<th scope="row">相談の多い症状・分野</th>
					<td>{{ data.tags | nl2br }}</td>
				</tr>
			</table>
		</section>
		<!--//////////////////// 店舗情報 end-->



		<!--//////////////////// 交通アクセス start-->
		<section class="shop-access shop-block">
			<h2 class="shop-ttl access-ttl"><span>交通アクセス</span></h2>
			<div class="shop-map-wrap fbox">
				<div class="shop-map">

                <!-- ////////////////////////////// Google Map start -->

                <div id="gmap" class="shop-detail-map"></div>
                <script src="https://maps.googleapis.com/maps/api/js?key={{ c.config('google_map')[ 'key' ]}}"></script>
                <script>
                  var ll = { lat: {{data.lat}}, lng: {{data.lon}} };
                  var shopName = '{{data.name}}';
                  var shopAddress = '〒{{ data.zip }}<br>{{ data.pref }}{{ data.addr1 }}{{ data.addr2 }}{{ data.addr3  }}';

                  // マップ
                  var gmap = new google.maps.Map(document.getElementById('gmap'), {
                    center: ll,
                    zoom: 17
                  });

                  // マーカー
                  var marker = new google.maps.Marker({
                    position: ll,
                    map: gmap
                  });

                  // 情報ウィンドウの内容
                  var contentString = '<div id="gmap-cont"><p class="gmap-cont-shop-name">' + shopName + '</p><p class="gmap-cont-shop-address">' + shopAddress + '</p>';

                  // 情報ウィンドウ
                  var infowindow = new google.maps.InfoWindow({
                    content: contentString
                  });

                  infowindow.open(gmap, marker);
                  marker.addListener('click', function() {
                    infowindow.open(gmap, marker);
                  });
                </script>
                <!-- ////////////////////////////// Google Map end -->

				</div>
				<div class="shop-map-info">

					<ul>
                    {% for access in data.access %}
                        {% if access %}
						<li>{{ access | nl2br }}</li>
                        {% endif %}
                    {% endfor %}
					</ul>

					<p class="link-route sp-item"><a href="javascript:void(0)" target="_blank" class="btn03 routeSearch" latlon='{{ data.lat }},{{ data.lon }}'><span class="icon-arrow01">ルート案内</span></a></p>
				</div>
			</div>
		</section>
		<!--//////////////////// 交通アクセス end-->


    {% if questions|length %}
    <div class="component-area">
      <div class="m-newly01">
        <p class="shopdetail-name"><span>{{ data.name }} が回答した漢方相談</span></p>
        <ul class="m-newly01__bal-list">
        {% include '/Front/Parts/question_list.twig' with {list:questions} %}
        </ul>
        <!-- /.m-newly01__bal-list -->
        <div class="m-tablearea01__btn mt40"><a class="m-arrow-btn01" href='{{ c.app.urlFor('qa_list',{search_type:'answer', q: data.code })}}'>すべて見る<span class="m-arrow-btn01__icn"></span></a></div>
   </div>
      <!-- /.m-newly01 -->

    </div>
    <!-- /.component-area -->
    {% endif %}
	</article>




{% php %} include 'footer.php'; {% endphp %}
