{% php %} 
	//共通
	require_once substr($_SERVER['SCRIPT_FILENAME'], 0, -strlen($_SERVER['SCRIPT_NAME'])).'/common/includes/init.php';
	
	//メタディスクリプション
	$description = '';
	
	//メタキーワード
	$keywords = '';
	
	//Facebook　全ページ共通の場合は空白にしてください
	$fbimage = '';

	//タイトル
	$title = ' | 漢方薬局を探す';
    
    if($context['params']['search_type'] == 'prefectures'){
	    $title = $context['params']['pref'].$context['params']['addr1'].'の漢方薬局'.$title;
    }
    elseif($context['params']['search_type'] == 'feature'){
	    $title = '都道府県・お悩みの症状・分野から探す | 検索結果'.$title;
    }
    elseif($context['params']['search_type'] == 'keyword'){
	    $title = 'キーワードから探す | 検索結果'.$title;
    }

	//タイトル
	//$title = '検索結果 | 漢方薬局を探す';
	
	//css追加
	$ex_tag_css = '<link rel="stylesheet" href="/common/css/shop.css">';
	
	//js追加
	$ex_tag_js = '<script src="/common/js/search.js"></script>
<script src="/common/js/geolocation.js"></script>
';
	
	//bodyID
	$bodyID = 'search';
	
    include 'header.php';
{% endphp %}

{% if params.search_type == 'prefectures' %}
    {% if params.addr1  %}
    {% set paging_url = c.app.urlFor('shop_search_prefectures',{'pref': params.pref|url_encode,'addr1': params.addr1|url_encode}) %}
    {% else %}
    {% set paging_url = c.app.urlFor('shop_search_prefectures',{'pref': params.pref|url_encode }) %}
    {% endif %}
    {% set query_string = '' %}
{% else %}
    {% set paging_url = c.app.urlFor('shop_search_' ~  params.search_type)  %}
{% endif %}

	<div class="contents-header">
		<ul class="topicpath fbox">
			<li><a href="/">トップページ</a></li>

			<li><a href="/shop/">漢方薬局を探す</a></li>
			<li>
            {% if params.search_type == 'prefectures' %}
                {{params.pref}}{{params.addr1}}の漢方薬局
            {% elseif params.search_type == "feature" %}
			都道府県・お悩みの症状・分野から探す
            {% elseif params.search_type == "keyword" %}
			キーワードから探す
            {% endif %}
            </li>
		</ul>
		<h1 class="header-ttl">漢方薬局を探す</h1>
	</div>

	<article id="main" class="inner">
		<div class="search-header">
			<p class="result-count">該当店舗<span>{{ pager.total_count }}</span>件</p>
			<p class="btn-research pc-item smooth"><a href="#shop-tab-wrap" class="btn01 icon-arrow01">条件を変えて再検索</a></p>
            {% if params.search_type == 'prefectures' and cities[params.pref]|length and pager.curpage==1 %}
			<ul class="result-area">
                {% for city in cities[params.pref] %}
				<li><a href="{{ c.app.urlFor('shop_search_prefectures',{'pref': params.pref|url_encode,'addr1': city.addr1|url_encode}) }}">
                    {{city.addr1}}({{city.cnt}})</a></li>
                {% endfor %}
			</ul>
            {% endif %}
		</div>

    {% if list|length %}
		<div class="result-list">

            {% for data in list %}
			<!--//////////////////// set start-->
			<section class="result-box">
				<a href="/shop/detail/{{ data.code }}/" class="sp-disable icon-arrow01">
					<span class="result-shop-img">
                        {% if data.image1 %}
                        <img src="{{ data.image1}}">
                        {% else %}
                            画像がありません。
                        {% endif %}
                    </span>
					<div class="result-shop-data">
						<p class="result-shop-area">{{ data.pref}}{{ data.addr1}}{% if data.distance %} ({{data.distance|distance}}){% endif %}</p>
						<h2 class="result-shop-name">{{ data.name }}<span class="shop-name-ruby">（{{ data.kana }}）</span></h2>
						<ul class="result-shop-icons">
                            {% include '/Front/Parts/pharmacy_service.twig' with {'pharmacy': data} %}
						</ul>
					</div>
				</a>
				<ul class="sp-item result-shop-links fbox">
					<li><a href="/shop/detail/{{ data.code }}/" class="btn02"><span class="icon-arrow01">詳細はこちら</span></a></li>
					<li><a href="javascript:void(0)" class="btn03 routeSearch" latlon='{{ data.lat }},{{ data.lon }}' ><span class="icon-arrow01">ルート案内</span></a></li>
				</ul>
			</section>
			<!--//////////////////// set end-->
            {% endfor %}
			
			
            {% if pager.total_pages %}
			<ul class="pager-wrap">

                {% if pager.prev %}
				<li class="pager-prev"><a href="{{ paging_url }}?page={{ pager.prev }}&{{ query_string }}" class="btn01"><span class="icon-arrow01">前へ</span></a></li>
                {% endif %}

                {% if pager.next %}
				<li class="pager-next"><a href="{{ paging_url }}?page={{ pager.next }}&{{ query_string }}" class="btn01"><span class="icon-arrow01">次へ</span></a></li>
                {% endif %}
			</ul>
            {% endif %}
		
		<!--//.result-list--></div>
    {% else %}
       <p>申し訳ございません。お探しの薬局は見つかりませんでした。</p>
    {% endif %}

    
    {% include '/Front/Parts/pharmacy_search_form.twig' with {'pharmacy': data} %}

	</article>

{% php %} include 'footer.php'; {% endphp %}
